/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

/* Navbar */

.menuNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.imagenLogo{
width: 100px;
height: auto;
}

.logo>h2{
font-size: 50px;
}

nav {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav h1 {
    display: inline;
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

/* Hero Section */
.hero {
    background-color: #343a40;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero .btn {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.hero .btn:hover {
    background-color: #0056b3;
}

/* Sección de Búsqueda de Libros */
.search-section {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
}

.search-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.search-section input[type="search"] {
    padding: 10px;
    width: 60%;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-section button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.search-section button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Sección de Libros Más Aclamados */

/*Carrousel Destacados*/

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos del carrusel */
.carousel {
    margin-top: 50px;
}

.carousel-inner {
    position: relative;
}

.carousel-item {
    display: none;
    text-align: center;
}

.carousel-item.active {
    display: block;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
}

.carousel-caption h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 18px;
    margin-bottom: 20px;
}

.carousel-caption .btn {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.carousel-caption .btn:hover {
    background-color: #0056b3;
}
.popular-books {
    padding: 50px 0;
    text-align: center;
}

.popular-books h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.popular-books .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-books .col-md-4 {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 40px;
}

.popular-books .card {
    width: 100%;

}


/*Seccion Géneros */
.row {
display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
   
}

/* Footer */
.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline;
    margin-right: 20px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer span {
    display: block;
    margin-bottom: 10px;
}